<div class="blog-post fade-in">
  <h2 class="blog-post-title"><%= data.title %></h2>
  <% if(data.date) { %>
    <p class="blog-post-meta"><span><%= data.date.(getMonth()+1) %></span> 
      <% if(data.author) { %>
        by <%= data.author %>
      <% } %>
    </p>
  <% } %>
  <div class="blog-post-tags pb-4">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>">
            <button type="button" class="btn btn-primary btn-sm">
              <%= tag %>
            </button>
          </a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <%= data.body %>
</div>

<script>
  let date = document.getElementsByClassName('blog-post-meta');
  let value = date.getElementsByTagName('span');
  console.log(`value: ${value}`);
</script>